.person-main-page {
    width: 100%;
}

.person-top-nav-box {
    position: sticky;
    top: 0px;
    z-index: 9;

    width: 100%;
    height: 50px;
    color: #71777c;
    background-color: #fff;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    transition: all 0.2s;
}

.person-top-nav {
    height: 50px;
    line-height: 50px;
}

.person-top-nav li {
    float: left;

    width: 70px;
    height: 50px;
    text-align: center;
    padding: 0 10px;

    font-size: 16px;
    cursor: pointer;
}

.person-top-nav ul .current, .per-bo-top-list .current {
    height: 49px;
    border-bottom: 2px solid #0876e4;
    color: #0876e4 !important;
}

.person-top-nav li {
    color: black;
}

.person-top-nav ul li:hover {
    color: rgb(173, 171, 171);
}

.person-top-nav .per-ava-con {
    padding: 0;
    float: left;
}

.person-top-nav img {
    margin-top: 9px;
}

.love-num {
    color: rgb(173, 171, 171);
}

.love-icon {
    display: inline-block;
    position: relative;
    top: 2px;
    margin-left: 5px;
    border: 5px solid transparent;
    border-top: 5px solid rgba(168, 168, 168, 0.815);
}

/* 点击赞和更多下拉框 */

.per-nav-zan {
    position: relative;
}

.triangle {
    width: 8px;
    height: 8px;

    position: absolute;
    top: -5px;
    left: 40px;
    z-index: 10;

    background-color: #fff;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    transform: rotate(45deg);
}

.per-nav-drop {
    position: absolute;
    top: 100%;
    left: -1px;
    z-index: 5;

    background-color: #fff;
    padding: 7px 0;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-shadow: 0 3px 6px 0 rgba(20, 20, 20, 0.123);
}

.per-nav-drop .item {
    height: 20px;
    width: 90px;
    line-height: 20px;
    text-align: center;
    padding: 7px 0;

    font-size: 15px;
    background-color: #fff;
    color: rgb(31, 31, 31);
}

.per-nav-drop .item:hover {
    background-color: rgba(243, 243, 243, 0.945);
}

.per-nav-drop .item span {
    padding: 0 4px;
}

.edit-person-info {
    width: 112px;
    height: 32px;
    padding: 0;
    margin: 8px 0;
    text-align: center;
    line-height: 32px;

    font-size: 16px;
    color: #007fff;
    padding: 0 2px;
    border: 1px solid #007fff;
    border-radius: 3px;
    cursor: pointer;
}

.main-top-nav .current {
    color: #037cf6;
}

/* 主体部分 */

/* 主体左侧 */

/* 动态 */

.person-body-box {
    min-height: 720px;
    margin-top: 80px;
}

.per-body-left-box {
    float: left;
    width: 708px;
    height: 100%;
}


.per-card-box {
    margin-bottom: 10px;
    height: 92px;
    border-radius: 3px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    padding: 30px;
    background-color: #fff;
}

.per-ava-con {
    width: 110px;
    height: 100%;
    float: left;
    text-align: center;
}

.per-ava-con img {
    border-radius: 50%;
}

.center-info {
    width: 400px;
    padding-left: 15px;
}

.center-info .nickname {
    font-size: 25px;
    font-weight: 600;
}

.center-info .job-a-skill {
    margin-top: 6px;
    width: 400px;
    max-height: 56px;

    font-size: 15px;
    color: #007fff;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-inline-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.right-info {
    height: 100%;
    width: 122px;
}

.per-icon-list {
    overflow: hidden;
    height: 40px;
    margin-bottom: 4px;
}

.per-icon-list i {
    float: right;
    width: 35px;
    height: 35px;
    text-align: center;
    font-size: 22px;
}

.per-bo-top-list {
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
}

.per-bo-top-list li {
    float: left;
    width: 70px;
    height: 50px;
    padding: 0 10px;
    text-align: center;
    font-size: 16px;
}

.active-item {
    position: relative;
    margin-bottom: 8px;
    height: 260px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 3px;
    cursor: pointer;
}

.item-top {
    padding: 0 20px;
    height: 42px;
    line-height: 42px;
    border-bottom: 1px solid #ccc;
    font-size: 13px;
    color: #8a9aa9;
}

.item-top em {
    color: #17181a;
    margin-right: 5px;
}

.cen-author-box {
    height: 48px;
    padding: 0 20px;
    padding-top: 20px;
}

.aut-ava-con img {
    border-radius: 50%;
    margin-right: 10px;
}

.thor-name {
    font-size: 15px;
    font-weight: 600;
    color: black;
    padding-top: 4px;
    margin-bottom: 2px;
}

.item-about li {
    float: left;
    margin-right: 8px;
    font-size: 13px;
    color: #8a9aa9;
}

.guanz-thor {
    height: 48px;
}

.guanz-thor span {
    display: inline-block;
    margin-top: 11px;

    width: 55px;
    height: 26px;
    text-align: center;
    line-height: 26px;

    border-radius: 3px;
    border: 1px solid yellowgreen;
    color: yellowgreen;
}

.active-item:hover {
    background-color: #fcfcfc;
}

.item-detail-con {
    height: 100px;
    margin-left: 74px;
    padding-right: 20px;
}

.item-detail-con .item-title {
    font-size: 17px;
    font-weight: 600;
    color: black;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.item-detail-con .item-detail {
    height: 65px;
    margin-top: 12px;
    position: relative;
}

.item-detail-con .detail-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

    font-size: 15px;
    color: 5c6066;
    padding-right: 64px;
}

.item-detail-con .detail-img {
    position: absolute;
    right: 0px;
    top: 0;
}

.item-bot {
    position: absolute;
    bottom: 0;
    left: 0;

    border-top: 1px solid #ccc;
    height: 34px;
    width: 100%;
}

.item-bot li {
    float: left;
    width: 33.33%;
    height: 24px;
    margin-top: 5px;
    line-height: 24px;
    text-align: center;

    margin-right: -1px;
    border-right: 1px solid #ccc;
}

.item-bot li:last-of-type {
    margin-right: 0px;
    border-right: 0;
}

.item-bot li em {
    padding-left: 5px;
}

.head-title {
    padding: 0 29px;
    margin-bottom: 2px;
    height: 50px;
    line-height: 50px;
    background-color: #fff;
}

.left-title {
    font-size: 15px;
    margin-right: 12px;
    font-weight: 600;
}

.right-list li {
    border-right: 1px solid #ccc;
    height: 18px;
    line-height: 18px;
    margin-top: 16px;
    padding: 0 15px;
    float: left;
    font-size: 14px;
    cursor: pointer;
    color: rgb(170, 170, 170);
}

.right-list .current {
    color: black;
}

.right-list li:last-of-type {
    border-right: 0;
    padding-right: 0;
}

/* 加载内容 */

/* 无内容 */

.nothing, .loading {
    height: 150px;
    text-align: center;
    background-color: #fff;
    margin-bottom: 2px;
    padding: 25px;
}

/* 编辑/删除 */

.coentent-bot-bools .bot-tool-more {
    border-left: 0;
    font-size: 23px;
    display: none;
    position: relative;
}

.contnet-item:hover .coentent-bot-bools .bot-tool-more {
    display: block;
}

.more-tool-list {
    width: 96px;
    height: 62px;

    position: absolute;
    top: 30px;
    left: 0;
    z-index: 90;

    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.11);
    font-size: 13px;
}

.more-tool-list div {
    text-align: left;
    padding: 0 10px;
    height: 31px;
    line-height: 31px;
    color: rgb(87, 87, 87);
}

/* 关注 */

.guanzer-box a {
    display: block;
    overflow: hidden;
    margin-bottom: 1px;
    padding: 6px 29px;
    height: 84px;
    background-color: rgb(255, 255, 255);
}

.guanzer-box .guanzer-ava {
    border-radius: 50%;
    margin-top: 21px;
    margin-right: 20px;
}

.guanzer-box .guanzer-info {
    margin-top: 20px;
}

.guanzer-info .name {
    font-size: 16px;
    color: #2e3135;
}

.guanzer-info .name img {
    padding: 0 7px;
    position: relative;
    top: 2px;
}

.guanzer-info .guanzer-detail {
    margin: 7.2px 0 0;
    font-size: 12px;
    color: #b9c0c8;
}

.guanzer-box .had-guanz {
    width: 88px;
    height: 28px;
    margin-top: 28px;
    margin-left: 12px;

    font-size: 13px;
    background-color: #92c452;
    color: white;
    border: 1px solid #92c452;
    border-radius: 2px;
    cursor: pointer;
}

.guanzer-box .no-guanz {
    width: 88px;
    height: 28px;
    margin-left: 12px;
    margin-top: 28px;

    font-size: 13px;
    background-color: #fff;
    color: white;
    border: 1px solid #92c452;
    color: #92c452;
    border-radius: 2px;
    cursor: pointer;
}

/* 主体右侧内容 */
.person-achieve{
    width: 100%;
    background-color: #fff;
    margin-bottom: 12px;
}
.person-achieve li{
   padding: 0 16px;
   padding-bottom: 16px;
   font-size: 15px;
}
.person-achieve .per-ach-title{
    padding: 16px;
    font-size: 16px;
    font-weight: 600;
    color: #31445b;
}
.person-achieve .iconfont{
    display: inline-block;


    height: 25px;
    width:25px ;
    line-height: 25px;
    text-align: center;
    margin-right: 10px;

    font-size: 16px;
    color: rgb(123,185,255);
    background-color: rgb(197, 225, 255);
    border-radius: 50%;
}

.guanzhu-box {
    width: 100%;
    height: 75px;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgb(0, 0, 0, 0.2);
}

.guanzhu-box li {
    float: left;
    width: 50%;
    height: 40px;
    margin-right: -1px;
    margin-top: 13px;
    text-align: center;

    border-right: 1px solid rgb(218, 216, 216);
    font-size: 16px;
    color: #31445b;
    cursor: pointer;
}

.guanzhu-box li:last-of-type {
    border-right: 0;
    margin-right: 0px;
}

.gz-num {
    font-weight: 600;
    padding: 1px 0;
}

.asider-more-box {
    width: 100%;
    height: 152px;
    margin-top: 10px;
    border-top: 1px solid #ccc;
}

.asider-more-box li {
    height: 18px;
    line-height: 18px;
    padding: 15px 5px;
    border-bottom: 1px solid #ccc;
    font-size: 15px;
    color: black;
}

.asider-more-box li em {
    float: right;
}